- public_project_count = ProjectsFinder.new(current_user: current_user).execute.count

.blank-state-row
  - if current_user.can_create_project?
    = link_to new_project_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_project", size: 50)
        .blank-state-body
          %h3.blank-state-title
            创建项目
          %p.blank-state-text
            项目是您存储代码，访问工单，Wiki和其他功能的地方。
  - else
    .blank-state
      .blank-state-icon
        = custom_icon("add_new_project", size: 50)
      .blank-state-body
        %h3.blank-state-title
          创建项目
        %p.blank-state-text
          如果您添加了项目，它将显示在此处。

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_group", size: 50)
        .blank-state-body
          %h3.blank-state-title
            创建群组
          %p.blank-state-text
            群组是管理项目和成员的最佳方式。

  - if public_project_count > 0
    = link_to trending_explore_projects_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("globe", size: 50)
        .blank-state-body
          %h3.blank-state-title
            Explore public projects
          %p.blank-state-text
            There are
            = number_with_delimiter(public_project_count)
            public projects on this server.
            Public projects are an easy way to allow
            everyone to have read-only access.

  = link_to "/help", class: "blank-state-link" do
    .blank-state
      .blank-state-icon
        = custom_icon("lightbulb", size: 50)
      .blank-state-body
        %h3.blank-state-title
          帮助中心
        %p.blank-state-text
          查看文档以发现Task的所有功能。
