.blank-state-row
  = link_to new_project_path, class: "blank-state-link" do
    .blank-state
      .blank-state-icon
        = custom_icon("add_new_project", size: 50)
      .blank-state-body
        %h3.blank-state-title
          创建项目
        %p.blank-state-text
          项目是您存储代码，访问工单，Wiki和其他功能的地方。

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_group", size: 50)
        .blank-state-body
          %h3.blank-state-title
            创建群组
          %p.blank-state-text
            群组是管理项目和成员的最佳方式。

    = link_to new_admin_user_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_user", size: 50)
        .blank-state-body
          %h3.blank-state-title
            新增成员
          %p.blank-state-text
            将您的团队成员和其他人添加到Task。

  = link_to admin_root_path, class: "blank-state-link" do
    .blank-state
      .blank-state-icon
        = custom_icon("configure_server", size: 50)
      .blank-state-body
        %h3.blank-state-title
          配置
        %p.blank-state-text
          调整实例的设置方式。
