.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: '我的代码片段', data: {placement: 'right'} do
        我的代码片段
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: '发现代码片段', data: {placement: 'right'} do
        发现代码片段

  - if current_user
    .nav-controls.d-none.d-sm-block
      = link_to "New snippet", new_snippet_path, class: "btn btn-new", title: "New snippet"
