- confirmation_link = confirmation_url(@resource, confirmation_token: @token)
- if @resource.unconfirmed_email.present?
  #content
    = email_default_heading(@resource.unconfirmed_email)
    %p Click the link below to confirm your email address.
    #cta
      = link_to 'Confirm your email address', confirmation_link
- else
  #content
    - if Gitlab.com?
      = email_default_heading('感谢注册Task！')
    - else
      = email_default_heading("欢迎, #{@resource.name}")
    %p 点击下面的链接，激活您的账户
    #cta
      = link_to '确认激活', confirmation_link
